.container-wrapper{
    width: 1395px;
    margin: 0 auto;
}
.text-wrapper{
    width: 712px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 67px;
    margin-top: 50px;
}
.block{
    width: 350px;
    height: 351px;
    background-color: #FBBA77;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.block-line1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.white-block{
    width: 131px;
    height: 45px;
    background-color: white;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
}
.texst-block{
    width: 328px;
    text-align: center;
}
.h3{
    margin-top: 57px;
    margin-bottom: 13.1px;
}
.block-margin{
    margin-bottom: 20px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin:0 auto;
}
.nav-ul{
    display: flex;
    width: 581px;
    justify-content: space-between;

}
.div-wrapper{
    display: flex;
    justify-content:space-between;
    width: 1170px;
    margin: 0 auto;
    margin-top: 200px;
}
.left-wrapper{
    width: 500px;
    background-color: aqua;
    text-align: center;

}
.right-wrapper{
    width: 500px;
    background-color: red;
}
.image-block{
    width: 100%;
}
.div-h2{
    font-size: 30;
    font-weight: bold;
}
.wave-block{
    background-color: blue;
    width: 263px;
    height: 67px;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 83.9px;

}
.wave2{
    margin-right:24.7px ;
}